<footer class="main-footer">
  <div class="container main-footer-container">
    <h3 class="band-name">The Generics</h3>
    <ul class="nav footer-nav">
      <li>
        <a href="http://www.youtube.com" target="_blank">
          <img src="assets/images/YouTube%20Logo.png">
        </a>
      </li>
      <li>
        <a href="http://www.spotify.com" target="_blank">
          <img src="assets/images/Spotify%20Logo.png">
        </a>
      </li>
      <li>
        <a href="http://www.facebook.com" target="_blank">
          <img src="assets/images/Facebook%20Logo.png">
        </a>
      </li>
    </ul>
  </div>
</footer>
