<h2 class="section-header">CART</h2>
<div class="cart-row">
  <span class="cart-item cart-header cart-column">ITEM</span>
  <span class="cart-price cart-header cart-column">PRICE</span>
  <span class="cart-quantity cart-header cart-column">QUANTITY</span>
</div>
<div class="cart-row" *ngFor="let product of products">
  <div class="cart-column cart-item">
    <img class="cart-item-img" height="100" [src]="product.img" width="100">
    <span class="cart-item-title">{{product.name}}</span>
  </div>
  <span class="cart-price cart-column">${{product.price}}</span>
  <div class="cart-quantity cart-column">
    <input class="cart-quantity-input" type="number" min = "0" (input)="calculateTotalPrice($event, product.name)">
    <button class="btn btn-danger" type="button">REMOVE</button>
  </div>
</div>
<div class="cart-total">
  <span class="cart-total-title">Total</span>
  <span class="cart-total-price">${{totalPrice}}</span>
</div>
<button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
