<section class="content-section container">
  <h2 class="section-header">ABOUT</h2>
  <img class="about-band-image" src="assets/images/Band%20Members.png">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Quisque vel ex sit amet massa varius accumsan.
    Praesent id augue lacinia enim ullamcorper tincidunt non ultricies
    Vivamus sed mi sem. Aenean eget malesuada nunc.
    Praesent quam nunc, elementum et fringilla id, fringilla nec elit.
    Cras ultricies nulla ac mauris condimentum, eu aliquet lorem ultricies.
    Ut eu egestas tellus. Etiam nec lacus ac elit tristique accumsan.
    Nulla facilisi. Mauris auctor imperdiet pretium.
    Nam sagittis turpis id dictum finibus.
    Nunc consectetur, tellus auctor imperdiet rh
    ssa. Nam maximus arcu eget magna sodales, a laoreet elit malesuada.
    Fusce imperdiet eros in dui vehicula gravida. Fusce tempor condimentum mi,
    in molestie sapien iaculis at. Maecenas ac condimentum dui,
    sit amet lobortis ligula.
    Sed vehicula ante tincidunt aliquam placerat. Proin sed varius velit,
    quis blandit leo.
    Sed congue, tellus non bibendum egestas, lacus metus rhoncus lorem, et interdum dolor
    tellus sed eros. Aenean sit amet dapibus est, vitae cursus tortor.
    Pellentesque semper tincidunt vehicula. Nulla congue justo et eros convallis rutrum.
    In leo tellus, elementum convallis mollis sed, tincidunt et eros.
    Duis dolor arcu, auctor a cursus eget, mollis eu ipsum. Phasellus nec faucibus erat.
    Duis maximus, nibh ac tempor facilisis, libero tellus venenatis leo,
    eget posuere nulla dolor rhoncus orci.
    Aliquam quis felis non justo sollicitudin iaculis.
    Aenean tincidunt finibus fermentum.
    Duis dolor arcu, auctor a cursus eget, mollis eu ipsum. Phasellus nec faucibus erat.
    Duis maximus, nibh ac tempor facilisis, libero tellus venenatis leo,
    eget posuere nulla dolor rhoncus orci.
    Aliquam quis felis non justo sollicitudin iaculis.
    Aenean tincidunt finibus fermentum.
    Duis dolor arcu, auctor a cursus eget, mollis eu ipsum. Phasellus nec faucibus erat.
    Duis maximus, nibh ac tempor facilisis, libero tellus venenatis leo,
    eget posuere nulla dolor rhoncus orci.
    Aliquam quis felis non justo sollicitudin iaculis.
    Aenean tincidunt finibus fermentum.
    Duis dolor arcu, auctor a cursus eget, mollis eu ipsum. Phasellus nec faucibus erat.
    Duis maximus, nibh ac tempor facilisis, libero tellus venenatis leo,
    eget posuere nulla dolor rhoncus orci.
    Aliquam quis felis non justo sollicitudin iaculis.
    Aenean tincidunt finibus fermentum.
    Duis dolor arcu, auctor a cursus eget, mollis eu ipsum. Phasellus nec faucibus erat.
    Duis maximus, nibh ac tempor facilisis, libero tellus venenatis leo,
    eget posuere nulla dolor rhoncus orci.
    Aliquam quis felis non justo sollicitudin iaculis.
    Aenean tincidunt finibus fermentum.
    Duis dolor arcu, auctor a cursus eget, mollis eu ipsum. Phasellus nec faucibus erat.
    Duis maximus, nibh ac tempor facilisis, libero tellus venenatis leo,
    eget posuere nulla dolor rhoncus orci.
    Aliquam quis felis non justo sollicitudin iaculis.
    Aenean tincidunt finibus fermentum.
    Duis dolor arcu, auctor a cursus eget, mollis eu ipsum. Phasellus nec faucibus erat.
    Duis maximus, nibh ac tempor facilisis, libero tellus venenatis leo,
    eget posuere nulla dolor rhoncus orci.
    Aliquam quis felis non justo sollicitudin iaculis.
    Aenean tincidunt finibus fermentum.
  </p>
</section>
